.samesizeheader {
    width: 67.5%;
    margin-left: 16.25%;
    justify-content: center;
}

#main-container {
    align-items: center;
    text-align: center;
}

.form-group {
    text-align: left;
}