.dropdowns {
    display: flex;
}

.dropdown {
    width: 200px;
}

.math-dd-course-container {
    padding-left: 20px;
}

.science-dd-course-container {
    padding-left: 40px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td {
    table-layout: fixed;
    width: 20px;
    overflow: hidden;
    word-wrap: break-word;
}


/* <!-- HTML !-->
<button class="button-74" role="button">Button 74</button> */


/* CSS */

.button {
    background-color: #fbeee0;
    border: 2px solid #63666a;
    border-radius: 30px;
    box-shadow: #63666a 4px 4px 0 0;
    color: #63666a;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    padding: 0 14px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover {
    background-color: #fff;
}

.button:active {
    box-shadow: #881c1c 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button {
        min-width: 100px;
        padding: 0 20px;
    }
}